html, body {
    background-color: #fff;
    color: darkgrey;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    text-shadow: -1px 0px 0px #2250A5, -2px 1px 0px #2746A2, -3px 2px 0px #1C317F, -4px 3px 0px #000000;
}

body {
    /* background-image: url('https://images.unsplash.com/photo-1517799094725-e3453440724e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80'); */
    /* background-image: url("https://images.unsplash.com/photo-1513183881046-a5fa074c681d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"); */
    /* background-image: url("https://i.pinimg.com/originals/ff/a8/3e/ffa83e6c9c16e41df77a3c2cadbc5922.jpg"); */
    background-image: url("https://images.unsplash.com/photo-1488579456918-038d21fd9653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
    opacity: 0.6;
    color: red;
}

.links-laravel > a {
    color: red;
    opacity: 0.6;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    animation: opacity-fade 5s;
    animation-iteration-count: 1;
}

.links > a {
    color: blue;
    opacity: 0.7;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    animation: opacity-fade 5s;
    animation-iteration-count: 1;
}

@keyframes opacity-fade {
    100% { opacity: 1; }
    95% { opacity: 0.95; }
    90% { opacity: 0.90; }
    85% { opacity: 0.85; }
    80% { opacity: 0.80; }
    75% { opacity: 0.75; }
    70% { opacity: 0.70; }
    65% { opacity: 0.65; }
    60% { opacity: 0.60; }
    55% { opacity: 0.55; }
    50% { opacity: 0.50; }
    45% { opacity: 0.45; }
    40% { opacity: 0.40; }
    35% { opacity: 0.35; }
    30% { opacity: 0.30; }
    25% { opacity: 0.25; }
    20% { opacity: 0.20; }
    15% { opacity: 0.15; }
    10% { opacity: 0.10; }
    5% { opacity: 0.05; }
    0% { opacity: 0; }
}
